name: Verify Authenticode Signatures

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  verify-signatures:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Verify signatures
        shell: powershell
        run: |
          .\utils\Verify-Signatures.ps1 -TargetPath "${{ github.workspace }}"

